@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Stack+Sans+Text:wght@200..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
:root {
    --brand-color: #346739;
    --seconde-brand-color: #79ae6f;
    --thirt-brand-color: #9fcb98;
    --back-color: #dde6dc;
    --surface-color: #ebebeb;
    --text-color: #121311;
    --second-text-color: #2a2c28;
}

.darkmode {
    --brand-color: #529659;
    --seconde-brand-color: #79ae6f;
    --thirt-brand-color: #3b5e3d; 
    --back-color: #121612;
    --surface-color: #1a201b;
    --text-color: #f4f6f4;
    --second-text-color: #a3aba3;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
    line-height: 1.5rem;
}

body {
    background-color: var(--back-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.card-pass {
    background: var(--surface-color);
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
    width: 100%;
    max-width: 400px;
    color: var(--text-color);
}
.card-pass h2 {
    color: var(--brand-color);
    margin-bottom: 20px;
    font-size: 1.5rem;
    text-align: center;
}
.form-group {
    margin-bottom: 15px;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 0.9rem;
}
.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
}
.btn-submit-pass {
    background-color: var(--brand-color);
    color: whitesmoke;
    border: none;
    padding: 12px;
    width: 100%;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
}
.btn-submit-pass:hover {
    background-color: #1e4a2a;
}
.back-link {
    display: block;
    text-align: center;
    margin-top: 15px;
    color: var(--second-text-color);
    text-decoration: none;
    font-size: 0.9rem;
}
